
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "kumbh sans";
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
}

.main-container{
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    text-align: center;
}



.hero-img img{
    border-radius: 50%;    
    border: 6px solid white;
    margin-top: -50px;
}

p, span{
    font-weight: 400;
    font-size: 18px;
    color: hsl(227, 10%, 46%);
}

h2{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.name-age h2{
    display: inline-block;
    margin-top: 20px;
}

span{
    margin-left: 5px;
}

.col-text{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsla(0, 0%, 59%, .3);
    margin-top: 20px;
}

.col{
    padding: 30px 0;
}

.bottom{
    width: 500px;
    position: absolute;
    bottom: -150px;
    right: -250px;
    z-index: -1;
}

.top{
    width: 500px;
    position: absolute;
    top: -150px;
    left: -250px;
    z-index: -1;
}


@media (min-width:800px){
    .bottom{
        width: 1000px;
        bottom: -600px;
        right: -200px;
    }

    .top{
        width: 1000px;
        top: -600px;
        left: -200px;

    }
}