:root{
    --main-bg:hsl(233, 47%, 7%);
    --card-bg:hsl(244, 38%, 16%);
    --accent:hsl(277, 64%, 61%);


    --main-heading:hsl(0, 0%, 100%);
    --main-para:hsla(0, 0%, 100%, 0.75);
    --stat-heading:hsla(0, 0%, 100%, 0.6);
}


/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--main-bg);
}
/* styles for main-container  */

.main-container{
    width: 375px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--card-bg);
}

/* adding styles to texts div so that they start with same div  */
.texts{
    width: 80%;
    margin: 0 auto;
}

/* adding the required width of the image for mobile view  */
/* img{
    max-width:375px;
    display: block;
    border: 3px solid green;
} */

.hero-img{
    background-image: url("/images/image-header-mobile.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}

/* adding the styles for all texts (h1,h2,p) and adding the margin  */

h1, h2{
    color: var(--main-heading);
    font-family: "inter";
    margin-top: 30px;
}

p{
    color: var(--main-para);
    font-family: "lexend deca";
    font-size: 15px;
    margin-top: 20px;
}

.uppercase{
    text-transform: uppercase;
    color: var(--stat-heading);
    margin: 0 0 30px 0;
}

.highlighted-text{
    color: var(--accent);
}




/* To add the over lay we are using this code  */
.hero-img{    
    position: relative;
}

.overlay::before{
    content: "";
    background-color: var(--accent);
    background-blend-mode:multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

/* overlay part ends here  */



@media (min-width:1200px){
    .main-container{
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-img{
        background-image: url("/images/image-header-desktop.jpg");
        height: 500px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .texts{
        width: 100%;
    }

    .col{
        display: flex;
        padding-top: 50px;
        text-align: left;
    }

    .texts div{
        width: 60%;
        margin: 0 auto ;
    }

    .top-text{
        padding-top: 50px;
        text-align: left;
    }

    .top-text p{
        margin-top: 30px;
    }


    
}